package components

import (
	"frontend/models"
	"strconv"
)

templ FileStructure(path string, Dirprofile []models.Dirprofile, golet_id string) {
	for _, item := range Dirprofile {
		{{ newpath := path + "/" + item.Name }}
		// {{ hx_post := "http://" + golet_id + ".localhost:3001/browse" }}
		{{ hx_post := "/browse?golet_id=" + golet_id }}
		<li
			hx-post={ hx_post }
			hx-target="next #folder-content"
			hx-swap="innerHTML"
			hx-vals={ `{"path":"` + newpath + `","isDir":` + strconv.FormatBool(item.IsDir) + `}` }
			class="cursor-pointer p-1 w-48 hover:bg-gray-700 flex"
			onclick="oppeningDir(event,this)"
		>
			if item.IsDir {
				<span>📁 </span>
			}
			{ item.Name }
			<img src="/public/trash-bin.png" alt="trash-bin" class="ml-auto text-white w-4  h-4" onclick="delete_dir(event,this)"/>
		</li>
		<ul
			class="w-48 px-2"
			id="folder-content"
		></ul>
	}
	<script>
function delete_dir(event , thisel){
	event.stopImmediatePropagation();
	let file_structure_element = document.querySelector("#file_structure_editor_wrapper");	
	const golet_id = Alpine.$data(file_structure_element).golet_id;

	const parentel=thisel.parentElement.getAttribute('hx-vals')
	const data = JSON.parse(parentel);
	fetch("/file_delete?golet_id="+golet_id,{
			method:"POST",
			headers:{ "Content-Type": "application/json" },
			body: JSON.stringify({
			path: data.path
				})
	})
	thisel.parentElement.nextElementSibling.remove()
	thisel.parentElement.remove()
	
}
function selected_element_color(previous_el,thisel){
	previous_el.style.backgroundColor = "transparent";
	thisel.style.backgroundColor = "red";

}
function oppeningDir(event,thisel) {
	const hxVals = thisel.getAttribute('hx-vals')
	const hxValsObj = JSON.parse(hxVals)
	const path = hxValsObj.path

	let file_structure_element = document.querySelector("#file_structure_editor_wrapper");	
	
	//adding selected element to colour and removing colour of the previous element
	selected_element_color(Alpine.$data(file_structure_element).selected_element,thisel) 

	//updating the selected item 
	Alpine.$data(file_structure_element).selected_element=thisel
	const golet_id = Alpine.$data(file_structure_element).golet_id;
	
	// inserting_file_creation_path(hxValsObj,file_structure_element)

	if (hxValsObj.isDir === false){
		
		
        const language = {
            html: "html",
            js: "javascript",
            ts: "typescript",
            go: "go",
            css: "css", 
            json: "json",
            py: "python" ,
            rb: "ruby",
            sh: "shell"
        };
        let lastIndex = path.lastIndexOf('/'); 
        let trimmedString_slash= ""
        if (lastIndex !== -1) {
          trimmedString_slash = path.slice(lastIndex); 
        } else {
          console.log("No slash found in the string."); 
        }

        lastIndex = trimmedString_slash.lastIndexOf('.'); 
        let trimmedString_dot
        if (lastIndex !== -1) {
           trimmedString_dot = trimmedString_slash.slice(lastIndex+1); 
        } else {
          console.log("No slash found in the string."); 
        }
    	fetch("/file?golet_id="+golet_id,{
			method:"POST",
			headers:{ "Content-Type": "application/json" },
			body: JSON.stringify({
			path: path
				})
		})
		.then(res => res.text())
		.then(data => {
            const editorContainer = document.querySelector('[id^="monaco-editor"]')

            if(editorContainer && editorContainer.editor){
                editorContainer.editor.setValue(data)
            }
            // Change the language to Python
            const model = editorContainer.editor.getModel();
            if (model) {
                monaco.editor.setModelLanguage(model,language[trimmedString_dot]);
            }

        })  
		event.stopImmediatePropagation();
	    return
	}
	let next_el=thisel.nextElementSibling;
	if (next_el.children.length === 0){

        // allow HTMX request
    }else {
        // block HTMX request
		event.stopImmediatePropagation();
		next_el.innerHTML = ""
    }
}
</script>
}
