package components

import "frontend/models"

templ IDEBase(Dirprofile []models.Dirprofile, golet_id, workspace_name string) {
	<div class="w-screen h-9 flex  items-center  bg-zinc-500">
		<div
			class=" w-6 h-6 flex justify-center items-center  rounded "
			@click="open = !open"
		>
			<img src="/public/sidebar.png" alt="sidebar" class="w-5  h-5"/>
		</div>
	</div>
	<div
		id="file_structure_editor_wrapper"
		x-data={ `{ golet_id: "` + golet_id + `", selected_element: null }` }
		x-init="$nextTick(() => { selected_element = $refs.file_structure_header })"
		class="flex h-screen"
	>
		<div
			:class="open ? 'translate-x-0' : '-translate-x-full'"
			class="w-80 shrink-0 fixed h-screen transition-transform duration-300 bg-gray-900 text-white"
		>
			<li
				x-ref="file_structure_header"
				hx-vals={ `{"path": "" ,"isDir": "true"}` }
				class="w-48 px-2  border-black border-2 text-white flex gap-3 items-center"
			>
				{ workspace_name }
				<img src="/public/create_file.png" alt="create_file" class="text-white w-4  h-4" onclick="create_directory(this)"/>
				<img src="/public/create_folder.png" alt="create_folder" class="text-white w-4  h-4" onclick="create_directory(this)"/>
			</li>
			<ul
				class="w-full h-7"
			>
				@FileStructure("", Dirprofile, golet_id)
			</ul>
		</div>
		<div x-data="{ tab: 'editor' }" class="grow h-screen transition-all duration-300 ml-0" :class="open ? 'ml-80' : 'ml-0'">
			<div class="h-5 w-80 bg-amber-500 flex gap-2">
				<span
					class="w-40 h-5 grow-0 bg-amber-400"
					:class="{ 'bg-amber-900': tab === 'editor' }"
					@click="tab = 'editor'"
				>editor + terminal</span>
				<span
					class="w-20 h-5 grow-0 bg-amber-400"
					:class="{ 'bg-amber-900': tab === 'preview' }"
					@click="tab = 'preview'"
				>preview </span>
			</div>
			<div
				x-show="tab === 'editor'"
				class="flex flex-col h-screen"
			>
				@Editor()
				@Terminal()
			</div>
			<div x-show="tab === 'preview'">
				@Preview()
			</div>
		</div>
	</div>
	<script>

 document.addEventListener('alpine:initialized', () => {
		function file_create_fetch(input, event, selected_element,isDirfunction) {
			const data = JSON.parse(selected_element.getAttribute('hx-vals'));
			if (event.key === "Enter") {
				let payload = null
				if (isDirfunction === true || data.isDir === true) {
					payload = {
						path: data.path,
						name: input.value,
						dir: isDirfunction
					};
				
				}else{
					let lastIndex = data.path.lastIndexOf('/'); 
					trimmedString = data.path.slice(0,lastIndex); 

					payload = {
						path: trimmedString,
						name: input.value,
						dir: isDirfunction
					};
				}
				
				fetch('/file_create?golet_id='+golet_id, {
					method: 'POST',
					headers: { 'Content-Type': 'application/json' },
					body: JSON.stringify(payload)
				});


				//removing the replacing the input element from div 
				const file_element_li = document.createElement("li");
				if (isDirfunction){
					file_element_li.innerHTML+="<span>📁 </span>";
				}
				file_element_li.innerHTML+=input.value
				file_element_li.className = "cursor-pointer p-1 hover:bg-gray-700";
				const file_element_ul =  document.createElement("ul");
				file_element_ul.id = "folder-content"

				const parentElement=input.parentElement
				input.remove()
				parentElement.appendChild(file_element_li)
				parentElement.appendChild(file_element_ul)
					
			}
		}
		//create file function 
		window.create_directory = function(el) {			
			const selected_element = Alpine.$data(
            document.getElementById('file_structure_editor_wrapper')
        	).selected_element;
			const input = document.createElement("input");
			input.type = "text";
			input.placeholder = "Enter name...";
			input.className = "w-full h-4 bg-gray-800 text-white px-2 py-1";
			const dir = false
			if (el.getAttribute('alt')==="create_file"){
			input.addEventListener("keydown", function(event) {
   				file_create_fetch(this, event, selected_element,false);
			});
			}
			if (el.getAttribute('alt')==="create_folder"){
				input.addEventListener("keydown", function(event) {
   				file_create_fetch(this, event, selected_element,true);
			});
			}
			const data = JSON.parse(selected_element.getAttribute('hx-vals'));
			if (data.isDir){
				selected_element.nextElementSibling.appendChild(input)
			}else{
				const parentElement=selected_element.parentElement
				parentElement.appendChild(input);
			}
			
		}
		



        // Alpine is ready now
        const golet_id = Alpine.$data(
            document.getElementById('file_structure_editor_wrapper')
        ).golet_id;

        let idleTimer;
        const IDLE_TIME = 1 * 500 * 1000;

        function onIdle() {
            console.log("onidle")
            fetch('/delete_service?golet_id=' + golet_id, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
            })
            .then(res => console.log('Saved on idle'))
            .catch(err => console.error('Save failed:', err))
        }

        function resetTimer() {
            clearTimeout(idleTimer);
            idleTimer = setTimeout(onIdle, IDLE_TIME);
        }

        ['mousemove', 'keydown', 'click', 'scroll', 'touchstart'].forEach(event => {
            document.addEventListener(event, resetTimer)
        })

        resetTimer()
    })
	</script>
}
