package components

templ Loading() {
	// {{ ws_connect := "/store_ws_conn?golet_id=" + golet_id }}
	// {{golet_id:=stacks.}}
	<div
		x-ref="wsbox"
		hx-ext="ws"
		x-show="loading"
		x-init="
        $watch('loading', value => {
            if (value) {
                $refs.wsbox.setAttribute(
                    'ws-connect',
                    '/store_ws_conn?workspace_name=' + workspace_name
                );
                htmx.process($refs.wsbox);
            }
        })
    "
	>
		<div id="notifications">
			Loading...
		</div>
	</div>
}
