package components

templ User() {
	<div class="">
		<form
			hx-get="/userBackend"
			hx-target="#body"
			hx-swap="innerHTML"
		>
			<label>Select workspace name:</label>
			<input type="text" placeholder="weber" name="workspace_name" value="weber"/>
			<br/>
			<br/>
			<label>Choose a stack:</label>
			<select name="stack">
				<option value="Node">Node Stack</option>
				<option value="React">React Stack</option>
			</select>
			<br/>
			<br/>
			<button type="submit">Submit</button>
		</form>
	</div>
}
